<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-4 py-3 ">
  <div>
    <%= link_to "< Back to edit mode", edit_track_path(@track), class:"text-decoration-none text-dark" %>
  </div>
  <%= link_to "Publish", "#", class: "mx-1 btn btn-yellow"%>
</div>
<div class="d-flex justify-content-center p-5">
  <div class="smartphone bg-white" style="font-family: <%= @track.font_theme %>">
    <div class="inside-content chapters-container" style="height: 500px" id="preview-body">
      <%= render 'tracks/iteration_chapters', user: current_user, track: @track, progress: progress %>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

<script>
  $(document).ready(function(){
    $('.chapter-tab').click(function() {
      const target = $(this)[0].dataset.target;
      $(target).show();
      // $(".current-chapter").removeClass("current-chapter");
      // $(target)[0].classList.add("current-chapter");
      $('.chapter-tab').hide();
      $('.track-title').hide();
      $('.back-chapters').show();
    });
    $('.back-chapters').click(function() {
      $('.chapter-tab').show();
      $('.track-title').show();
      $('.chapter-content').hide();
      $('.back-chapters').hide();
    });
  });

  $('.inside-content').scroll(function() {
    const button = $('.btn-disabled');
    button.removeClass('btn-disabled').addClass("btn-active");
  });

</script>

