<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @progress %>%; background-color: <%= @track.color_theme %> ;" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>
