  <div class="row">
    <div class="col-1 card">
      <div class= "mx-auto py-3">
        <%= image_tag "edit_logo.jpg", width: "50px" %>
      </div>
      <div class= "mx-auto py-3">
        <%= image_tag "edit_logo.jpg", width: "50px" %>
      </div>
      <div class= "mx-auto py-3">
        <%= image_tag "edit_logo.jpg", width: "50px" %>
      </div>
    </div>
    <div class="col-2 card card-chapter">
      <p>chapter column</p>
    </div>
    <div class="col-5 card">
      <div class= "mx-auto py-5">
        <p>Choose your media</p>
      </div>
      <div class= "mx-auto">
        <p>Icons</p>
      </div>

    </div>
    <div class="col-4 card">
      <p>preview column</p>
    </div>
  </div>




