.active-chapter-link {
    background-color: $yellow;

      a{
        text-decoration: none;
        &:hover {
        background: transparent;
        }
      }

}





.table-chapter {
  padding-top: 8px;
  width: 200px;
}


.no-line {

td {

          width:40px;
          height:40px;
          text-align:center;
          border:none;
          padding:5px;
          overflow: hidden;
          background-color:#747575;
          color: $yellow;
}

            a{
            text-decoration: none;
            &:hover {
            background: transparent;
    }
          }
}

.card-chapter-title {
  background-color: $yellow;
}

.chapter-position {
  background-color:#747575;
  width:40px;
  height:40px;
  font-weight:bold;
  text-align:center;
  color: white;
  justify-content:center;
  vertical-align: middle;
}

.chapter-title {
  font-size: 14px;
  width:160px;
  height:40px;
  font-weight:bold;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.active-chapter-title {
      background-color: $yellow;
      font-size: 14px;
      width:160px;
      height:40px;
      color: $white;
      font-weight:bold;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
}
