// Specific CSS for your home-page

#pages-home {
  h1 {
    font-size: 40px;
    position: relative;

    &:before {
      content: "";
      height: 20px;
      width: 105%;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  p{
    font-size: 20px;
  }
}

.hero {
  position: relative;
  padding-bottom: 5em;
}

.hero-bg {
  background: linear-gradient(90deg, var(--primary) 48%, var(--white) 32%);
}

.hero-image {
  position: relative;
  top: 2em;
}

.hero-text {
 padding: 10em 0;
}

.card {
  box-shadow: 0 4px 8px rgba(116, 111, 106, .3);
  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}


.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}
