.track-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px
}

// #tracks-edit {
  .yellow-line {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: 0 auto 0.75rem;
    padding: 0 15px;
  }
    .yellow-line:before {
      content: "";
      height: 20px;
      width: 105%;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

  p{
    font-size: 20px;
  }
  // }

.fa-star-yellow {
  color: $yellow;
}

.no-line {
            a{
            text-decoration: none;
            &:hover {
            background: transparent;
    }
          }
}

#wrapper-form {
  form, .logo-upload{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 60px;
  }
  .form-group {
    margin-bottom: 0;
  }
  img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
  }
}
