<!-- HERO -->
<section class="hero d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center bg-primary">
      <div class="hero-text">
        <h1 data-aos="fade-up">How you learn is everything</h1>

        <%= link_to 'Start now!', root_path, class:"btn btn-info btn-lg" %>
      </div>
    </div>

    <div class="col-lg-6 col-12">
      <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

        <%= image_tag "scholar.png", class: "img-fluid"  %>
      </div>
    </div>

  </div>
</section>

<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
  <div class="container">
   <div class="row">

    <div class="col-lg-7 mx-auto col-md-10 col-12">
     <div class="about-info">

      <h2 class="mb-4" data-aos="fade-up">the best <strong>Digital Marketing agency</strong> in Rio de Janeiro</h2>

      <p class="mb-0" data-aos="fade-up">Total 5 HTML pages are included in this template from TemplateMo website. Please check 2 <a href="blog.html">blog</a> pages, <a href="project-detail.html">project</a> page, and <a href="contact.html">contact</a> page.
        <br><br>You are <strong>allowed</strong> to use this template for commercial or non-commercial purpose. You are NOT allowed to redistribute the template ZIP file on template collection websites.</p>
      </div>

      <div class="about-image" data-aos="fade-up" data-aos-delay="200">

        <%= image_tag "speed.png", class: "img-fluid"  %>

      </div>
    </div>

  </div>
</div>
</section>

<!-- TESTIMONIAL -->
<section class="testimonial section-padding">
  <div class="container">
   <div class="row">

    <div class="col-lg-6 col-md-5 col-12">
      <div class="contact-image" data-aos="fade-up">

        <%= image_tag "testimony.png", class: "img-fluid"  %>

      </div>
    </div>

    <div class="col-lg-6 col-md-7 col-12">
      <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Client Testimonials</h4>

      <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

      <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.</h2>

      <p data-aos="fade-up" data-aos-delay="400">
        <strong>Mary Zoe</strong>

        <span class="mx-1">/</span>

        <small>Digital Agency (CEO)</small>
      </p>
    </div>
  </div>
</div>
</section>
